PORT=3001
# ЗАМЕНИТЕ на реальный пароль БД
DATABASE_URL=postgresql://game_api:change-me@localhost:5432/abyss_idle
VK_APP_ID=54071180
VK_APP_SECRET=j4uRXmj32NEdCpqnWXkj
VK_SERVICE_TOKEN=42a692ac42a692ac42a692accd419f9d20442a642a692ac2a0cbac36426b3bd93e0e18d
CORS_ORIGIN=https://vk.ru,https://nolik305.github.io,https://135.106.211.85.nip.io
LOG_ROTATE=true
LOG_RETAIN_DAYS=14
BACKUP_SCHEDULE="0 3 * * *"
ADMIN_VK_IDS=835693694
NODE_ENV=production
